/* Copyright 1998-2016 Northwoods Software Corporation. All Rights Reserved. */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
}

p {
  max-width: 700px;
}

p.box {
  border: 1px solid #BBB;
  padding: 4px 4px 6px 4px;
}

p.warning {
  background-color: #FCD5CD
}

.diagramContainer {
  border : solid 1px blue;
}
pre {
  font-size : 9pt;
}

.footer {
  text-align: right;
  font-size: 10px;
}

#sample {
  margin: 20px;
}

#leftColumn, #rightColumn {
    border: 1px solid white;
    float: left;
    min-height: 450px;
}
#leftColumn {
     width: 250px;
     text-align:  center;
}
#rightColumn {
     width: 900px;
}

#navbar {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7C786A;
}

#teamName {
  color: #FFFFFF;
  font-size: 35px;
  font-family: impact;
  font-style: italic;
  padding-left: 20px;
  display: inline;
  float: left;
}

#navTitle{
  color: #000000;
  font-size: 35px;
  font-family: impact;
  padding-left: 20px;
  display: inline;
  padding-left: 15px;
}

#menu {
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 4px;
  margin-right: 5px;
  background-color: #F9F9F9;
  width: 120px;
  float: left;
}

#sections {
  list-style-type: none;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  line-height: 1.3em;
}

#entityList{
 font: 11px courier new;
}



a { text-decoration: none; }
li a { display: block; }
a:hover { text-decoration: underline; }

li a { color: #0645AD; }
li a:hover, a li:focus { background: #CEDFF2; }
li a.selected { background: #1E90FF; color: white }

.index {
  margin-top: 0px;
}

.samplespan {
  position: absolute;
  z-index: 99;
  display: none;
  left: 135px;
  margin-top: -80px;
  border: 2px solid gray;
  height: 200px;
}

a:hover .samplespan { display:block; }

h3{
  font: 15px courier new;
  font-weight: bold;
}

select{
  padding: 10px;
}


.wrapper {
    text-align: center;
}

.myButton {
    margin: 2px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 14px 27px;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background: #8dcdc1;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dcdc1), to(#7c786a));
    background: -moz-linear-gradient(top, #8dcdc1, #7c786a);
    background: linear-gradient(to bottom, #8dcdc1, #7c786a);
    text-shadow: #7c786a 0px 0px 2px;
    font: normal normal normal 15px courier new;
    color: #ffffff;
    text-decoration: none;
    width: 210px;
}
.myButton:hover {
	    background: #a9f6e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#a9f6e8), to(#95907f));
    background: -moz-linear-gradient(top, #a9f6e8, #95907f);
    background: linear-gradient(to bottom, #a9f6e8, #95907f);
    color: #ffffff;
    text-decoration: none;
}
.myButton:active {
	    background: #557b74;
    background: -webkit-gradient(linear, left top, left bottom, from(#557b74), to(#7c786a));
    background: -moz-linear-gradient(top, #557b74, #7c786a);
    background: linear-gradient(to bottom, #557b74, #7c786a);
}