/* Copyright 1998-2016 Northwoods Software Corporation. All Rights Reserved. */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
}

p {
  max-width: 700px;
}

p.box {
  border: 1px solid #BBB;
  padding: 4px 4px 6px 4px;
}

p.warning {
  background-color: #FCD5CD
}

.diagramContainer {
  border : solid 1px blue;
}

pre {
  font-size : 9pt;
}

.footer {
  text-align: right;
  font-size: 10px;
}

#sample {
  margin-left: 30px;
  margin-right: 30px;
  margin-top:20px;
  text-align: center;
}

#rowDiagram, #rowButtons {
    display: inline-block;
    border: 1px solid white;
}

#rowButtons {
   width: 100%;
}

#rowDiagram {
 width: 1100px;
}

#bottomRow{
  display: inline-block;
  width:100%;
}

#navbar {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7C786A;
}

#teamName {
  color: #FFFFFF;
  font-size: 35px;
  font-family: impact;
  font-style: italic;
  padding-left: 20px;
  display: inline;
  float: left;
}

#navTitle{
  color: #000000;
  font-size: 35px;
  font-family: impact;
  padding-left: 20px;
  display: inline;
  padding-left: 15px;
}

#menu {
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 4px;
  margin-right: 5px;
  background-color: #F9F9F9;
  width: 120px;
  float: left;
}

#sections {
  list-style-type: none;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  line-height: 1.3em;
}

#entityList{
 font: 11px courier new;
}


a { text-decoration: none; }
li a { display: block; }
a:hover { text-decoration: underline; }

li a { color: #0645AD; }
li a:hover, a li:focus { background: #CEDFF2; }
li a.selected { background: #1E90FF; color: white }

.index {
  margin-top: 0px;
}

.samplespan {
  position: absolute;
  z-index: 99;
  display: none;
  left: 135px;
  margin-top: -80px;
  border: 2px solid gray;
  height: 200px;
}

a:hover .samplespan { display:block; }

h3{
  font: 18px impact;
  color: #7C786A;
}

select{
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
}

input {
    width: 150px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #FFF5C3 ;
    resize: none;
    margin:5px;
}


.wrapper {
    text-align: center;
}

.myButton, .entityButton {
    margin: 2px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0px solid #ffffff;
    border-radius: 30px;
    background: #8dcdc1;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dcdc1), to(#7c786a));
    background: -moz-linear-gradient(top, #8dcdc1, #7c786a);
    background: linear-gradient(to bottom, #8dcdc1, #7c786a);
    text-shadow: #7c786a 0px 0px 2px;
    color: #ffffff;
    text-decoration: none;
    font-family: courier new;
    
}

.myButton{
   font: normal normal normal 12px courier new;
   padding: 14px 27px;
   margin-bottom: 10px;
   margin-left: 10px;
}

.myButton:hover, .entityButton:hover {
	  background: #a9f6e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#a9f6e8), to(#95907f));
    background: -moz-linear-gradient(top, #a9f6e8, #95907f);
    background: linear-gradient(to bottom, #a9f6e8, #95907f);
    color: #ffffff;
    text-decoration: none;
}
.myButton:active, .entityButton:active {
	    background: #557b74;
    background: -webkit-gradient(linear, left top, left bottom, from(#557b74), to(#7c786a));
    background: -moz-linear-gradient(top, #557b74, #7c786a);
    background: linear-gradient(to bottom, #557b74, #7c786a);
}

#myOverviewDiv {
    position: absolute;
    width:200px;
    height:100px;
    top: 0px;
    left: 0px;
    background-color: #d6e7e4;
    z-index: 1000; /* make sure its in front */
    border: solid 1px black;
}


/*table CSS*/
#projectTable{
  text-align: left;
  margin: auto;

}
.datagrid table { 
  border-collapse: collapse; 
  text-align: left; 
  width: 100%; 
} 

.datagrid {
  font: normal 12px/150% Courier New, Courier, monospace; 
  background: #fff; 
  overflow: hidden; 
  border: 1px solid #7C786A; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}

.datagrid td, .datagrid table th { 
  padding: 0px 0px; 
}

.datagrid thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C9C9C9), color-stop(1, #7C786A) );
  background:-moz-linear-gradient( center top, #C9C9C9 5%, #7C786A 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#7C786A');
  background-color:#C9C9C9; 
  color:#FFFFFF; 
  font-size: 12px; 
  font-weight: lighter; 
  border-left: 0px solid #A3A3A3; 
  padding-left: 5px;
  padding: 8px;
} 

.datagrid  thead th:first-child { 
  border: none; 
}

.datagrid tbody td { 
  color: #7C786A; 
  border-left: 0px solid #DBDBDB;
  font-size: 12px;
  font-weight: normal; 
  padding-left: 5px;
}

.datagrid tbody .alt td { 
  background: #EBEBEB; 
  color: #7D7D7D; 
}

.datagrid tbody td:first-child { 
  border-left: none; 
}

.datagrid tbody tr:last-child td { 
  border-bottom: none; 
}


div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
  position: fixed !important; 
}


/*index.html columns*/
#left, #right {
    border: 1px solid white;
    float: left;
    min-height: 450px;
    color: white;
}
#left {
     width: 29%;
     background-color: #d6e7e4;
     border-radius: 12px;
     margin: 15px;
     padding: 15px;
     clear: both;
}
#right {
     width: 60%;
     background-color: #EBEBEB;
     border-radius: 12px;
     margin: 15px;
     padding: 15px;
}

#left label {
  font: normal normal normal 12px courier new;
  color: #000000;
  float: left;
  margin-top: 4%;
  width: 40%;
  clear: both;

}

#left input{
  width: 50%;
  clear: both;
}

#newProj{
   color: #7C786A;
  font-size: 18px;
  font-family: impact;
  padding: 10px;
  margin: 10px;
}
#right #newProj{
  /*float:left;*/
}
